body {
    background-color: #A491D3;
}

h1 {
    color: #F5F2B8;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}

main {
    height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {


}